numpy
torch==0.4.1
torchvision==0.2.0
cython
scipy
opencv-python
pyyaml
tensorboardX
cffi
requests
argparse_color_formatter
colorama
matplotlib
scikit-image
ipython
shapely
packaging
pycocotools
sklearn
